@import "tailwindcss";
@plugin "daisyui" {
    themes: lemonade --default, dark --dark;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
}